<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-static-path="../static/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>analyse sentiments</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../static/img/function.png" />
    <script type="text/javascript" src="/eel.js"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../static/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="../static/vendor/css/core.css"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="../static/vendor/css/theme-default.css"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="../static/css/demo.css" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="../static/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"
    />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../static/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../static/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside
          id="layout-menu"
          class="layout-menu menu-vertical menu bg-menu-theme"
        >
          <!-- logo of your company !!!  -->

          <div class="app-brand demo">
            <a href="{{url_for('index')}}" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="../static//img/function.png" alt="" />
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2"
                >CalcPfe</span
              >
            </a>

            <a
              href="javascript:void(0);"
              class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
            >
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <li class="menu-item">
            <a href="{{url_for('gethashtag')}}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-search"></i>
              <div data-i18n="Analytics">Search by hashtag</div>
            </a>
          </li>
          

          <li class="menu-item">
            <a href="{{url_for('byuserame')}}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-search"></i>
              <div data-i18n="Analytics">Search by username</div>
            </a>
          </li>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <!-- Basic Layout -->
              <div class="row col d-flex justify-content-center">
                <div class="col-10">
                  <div class="card mb-4">
                    </div> 
                    <h4 class="fw-bold py-3 mb-4 text-center pt-5 pb-0">
                      <span class="text-muted fw-light">DragonLearn/</span>
                      Sentiment Analyzer
                    </h4>

                    <div
                      class="accordion mt-3 p-5 pb-0 pt-3"
                      id="accordionExample"
                    >
                      <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                          <button
                            type="button"
                            class="accordion-button"
                            data-bs-toggle="collapse"
                            data-bs-target="#accordionOne"
                            aria-expanded="true"
                            aria-controls="accordionOne"
                          >
                            <h4 class="mb-0 text-center">
                              Put the username and get the sentiments
                            </h4>
                          </button>
                        </h2>
                        <div
                          id="accordionOne"
                          class="accordion-collapse collapse show"
                          data-bs-parent="#accordionExample"
                        >
                          <div class="accordion-body display-7">
                            Search by name on Twitter involves seeking out tweets mentioning a 
                            specific individual or entity within the platform's vast stream of 
                            conversations. By utilizing advanced search functionalities, users
                             can pinpoint tweets containing the name in various contexts, from 
                             mentions in replies to direct references. This process enables 
                             individuals, businesses, and researchers to track discussions 
                             surrounding a particular person or entity, monitor public perception,
                              and gather insights into their online presence and reputation.
                               Searching by name on Twitter can be instrumental for reputation 
                               management, understanding audience sentiments, and staying informed 
                               about ongoing conversations relevant to the named entity.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="accordion mt-0 p-5 pt-3" id="accordionExample">
                      <form action="{{url_for('insert_name')}}" method="post">
                        <div class="card mb-4">
                          <h5 class="card-header">Put the username</h5>
                          <div class="card-body">
                            <div>
                              <div class="input-group">
                                <textarea
                                  class="form-control"
                                  name="username"
                                  aria-label="With textarea"
                                  placeholder="example"
                                  rows="4"
                                  id="hashtag" required
                                ></textarea>
                                <!-- <input type="text" name="hashtag" id=""> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="d-grid gap-2 col-lg-6 mx-auto">
                            <button
                              class="btn btn-secondary btn-lg"
                              type="submit" onclick="wait()"
                            >
                            Enter
                            </button>
                          </div>
                        </div>  
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <script>
      function wait(){
        alert("please wait")
      }
    </script>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js static/vendor/js/core.js -->
    <script src="../static/vendor/libs/jquery/jquery.js"></script>
    <script src="../static/vendor/libs/popper/popper.js"></script>
    <script src="../static/vendor/js/bootstrap.js"></script>
    <script src="../static/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../static/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../static/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
